<div class="form-container" *ngIf="loginForm">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="form-group">
      <label class="form-label">Username</label>
      <input type="text" formControlName="login" class="form-control" />
    </div>
    <div class="form-group">
      <label class="form-label">Password</label>
      <input type="password" formControlName="password" class="form-control" />
    </div>
    <div class="form-group">
      <div class="bar-container">
        <app-password-strength [passwordScore]="passwordScore" [style.--barHeight]="'15px'"></app-password-strength>
      </div>
    </div>
    <div class="form-buttons">
      <button class="btn btn-primary">Login</button>
    </div>
  </form>
</div>

<div class="red-square" style="box-sizing:border-box">Square with box-sizing: border-box</div>

<div class="red-square" style="box-sizing:content-box">Square with box-sizing: content-box</div>